<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-button class="login-button" expand="full" slot="end" [routerLink]="['/login']">
        {{ username }}
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-menu side="end" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item [routerLink]="['/passreset']">
          Restablecer Contraseña
        </ion-item>
        <ion-item [routerLink]="['/comida-order']">
          Realizar Orden 
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-content id="main-content">
    <!-- Barra de búsqueda -->
    <div style="margin: 10px;">
      <ion-searchbar placeholder="Busque un plato"></ion-searchbar>
    </div>

    <mat-card style="margin: 20px;">
      <h1 id="title-home" style="margin: 10px;">Almuerzos disponibles</h1>
    </mat-card>

    <!-- Rejilla de cartas -->
    <ion-grid>
      <ion-row>
        <!-- Primera Card -->
        <ion-col size="12" size-md="4">
          <mat-card>
            <img mat-card-image src="./assets/images/OIP.jfif" alt="Lasaña tradicional">
            <mat-card-header>
              <mat-card-title>Lasaña tradicional</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              Capas de pasta al dente, carne molida, salsa de tomate casera y bechamel, gratinada con queso.
            </mat-card-content>
            <mat-card-actions>
              <ion-button mat-button (click)="addDish({ name: 'Lasaña tradicional', price: 10 })">Comprar</ion-button>
            </mat-card-actions>
          </mat-card>
        </ion-col>

        <!-- Segunda Card -->
        <ion-col size="12" size-md="4">
          <mat-card>
            <img mat-card-image src="./assets/images/gnocchi.jfif" alt="Gnocchis tradicionales">
            <mat-card-header>
              <mat-card-title>Gnocchis tradicionales</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              Tiernos gnocchis de papa, cocidos a la perfección y servidos con salsa de tomate y albahaca fresca.
            </mat-card-content>
            <mat-card-actions>
              <ion-button mat-button (click)="addDish({ name: 'Gnocchis tradicionales', price: 12 })">Comprar</ion-button>
            </mat-card-actions>
          </mat-card>
        </ion-col>

        <!-- Tercera Card -->
        <ion-col size="12" size-md="4">
          <mat-card>
            <img mat-card-image src="./assets/images/risotto2.jpg" alt="Risotto tradicional">
            <mat-card-header>
              <mat-card-title>Risotto tradicional</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              puag! eso no es comida de verdad QUE ASCO.
            </mat-card-content>
            <mat-card-actions>
              <ion-button mat-button (click)="addDish({ name: 'Risotto tradicional', price: 14 })">Comprar</ion-button>
            </mat-card-actions>
          </mat-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>
