<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>

    </ion-buttons>
    <ion-title>Orden de Comida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let plato of selectedPlatos">
      {{ plato.name }} - {{ plato.price }}
      <ion-button slot="end" color="danger" (click)="removePlato(plato)">Remover</ion-button>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="confirmOrder()">Confirmar Orden</ion-button>
</ion-content>
